.blog_container {
    direction: rtl;
    display: flex;
    margin-top: 6em;
}

.msg_container {
    width: 50%;
    background-color: var(--color6);
    min-height: 50em;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    direction: rtl;
    border-radius: 1em;
    box-shadow: 0 0 1.5em white;
    margin: 1em auto;
}

.msg_content {
        background: linear-gradient(
        45deg,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    background-size: 500% auto;
    animation: animate 5s ease-in-out infinite alternate;
    border: 0.2em solid white;
    box-shadow: 0 0 1.5em white;
    border-radius: 1em;
    max-width: 80%;
    min-width: 60%;
    margin: 1em 2em;
    direction: rtl;
}

.msg_content .content_img {
    min-width: 10em;
    max-width: 20em;
    margin: 1em;
    border-radius: 1em;
    border: 0.15em solid white;
}

.msg_content .msg_img {
    margin: 1em;
    width: 5em;
    border-radius: 10em;
    border: 0.15em solid white;
}

.msg_content_text {
    display: flex;
}

.msg_content .msg_content_title {
    margin: 2em;
}

.msg_content_text {
    flex-direction: column;
}

.msg_content p {
    margin: 2em;
    font-size: 1.1rem;
}
.user_msg_box{
    margin: 1em 2em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.user_form {
    background: linear-gradient(30deg, var(--color1), var(--color4));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em auto;
    border-radius: 0.5em;
    padding: 2em;
    width: 100%;
    border: 0.2em solid white;
    box-shadow: 0 0 1.5em white;
}
.user_inputs {
    color: var(--color6);
    border-radius: 0.2em;
    width: 90%;
    margin: 1em auto;
    outline: none;
    border: none;
    padding: 0.4em;
    font-size: 1rem;
    resize:vertical;
}

.text_input {
    min-height: 8em;
    overflow: hidden;
}

.comment{
    padding: 1.4em;
    margin: 1em auto;
}
.comment_container{
    padding: 2em;
    max-height: 80vh;
    overflow-y: scroll;
}
.comment_container::-webkit-scrollbar{
    display: none;
  }

@media (max-width:800px) {
    .msg_container {
        width: 90%;
        margin: 1em auto;
    }

    .msg_content {
        margin: 1em auto;
        width: 85%;
    }

    .msg_content .content_img {
        margin: 1em auto;
        width: 10em;
    }
    .user_msg_box{
        width: 90%;
    }
}
@media (max-width:1100px) and (min-width:800px){
    .user_msg_box{
        width: 80%;
    }
}
@media (max-width:1200px) {
    .blog_container {
        flex-direction: column;
    }

    .user_form {
        margin: 1em auto;
        padding: 1em;
        margin: 1em 0;
    }

    .user_inputs {
        width: 18em;
        max-width: 20em;
    }

    .msg_container {
        width: 90%;
        margin: 1em auto;
    }

    .user_msg_box {
        margin: 0 auto;
        display: flex;
    }
}

