.footer {
    width: 100%;
    margin-top: 5em;
    display: flex;
    color: var(--color1);
    background-color: #000;
    font-size: 1.4rem;
    padding: 3em;
    padding-right: 8em;
    justify-content: space-between;
}

.link_list {
    list-style: none;
    border-left: solid var(--color1) .1em;
    padding: 3em;
    min-width: 15em;
}

.item a {
    text-decoration: none;
    color: var(--color1);
}

.icons {
    width: 1.5em;
    margin: 0 1em;
    margin-top: 1em;
}
.item a:hover{
    text-shadow: 0 0 5px rgb(0, 174, 243) ;
}
/* fix the footer responsivness */
.aboutus{
    color: aqua;
    text-align: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.aboutus_header{
    text-align: center;
    padding: 2em;
}
.aboutus_img{
    width: 10em;
}
.aboutus_text_item{
    margin-top: 1em;
    background: linear-gradient(45deg, var(--color1), var(--color4));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
@media (max-width:800px) {
    .footer {
        flex-direction: column;
        padding: 0;
    }
    .link_list {
        border-left: none;
        max-width: fit-content;
        margin: 2em auto;
    }
    .aboutus{
        margin: 2em auto;
        width: 90%;
    }
    .aboutus_text_item{
        text-align: center;
    }
}
@media (max-width:1000px) {
    .aboutus_text_item{
        font-size: 0.7em;
    }
    .footer{
        padding: 2em;
    }
}
