
.signlogin_form{
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 1em;
    padding: 1em;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 2px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 1px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.signin_title{
    text-align: center;
    padding: 1.5em;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px white ;
}
.signlogin_inputs{
    margin: 1em auto;
    width: 60%;
    font-size: 1.2rem;
    padding: 0.5em;
    background-color: #000;
    overflow: hidden;
    border: none;
    color: #764ada;
    border-radius: 5px; 
}
.signlogin_inputs:focus{
    border-bottom: #764ada solid .2em;
    text-shadow: 0 0 10px #764ada ;
}
input[type="submit"]{
    width: 40%;
    cursor: pointer;
}
input[type="submit"]:hover{
    box-shadow: 0 0 20px #764ada ;
}
.signlogin_form .already_login_text{
    margin: 1em auto;
    text-decoration: none;
    color: white;
}
.already_login_text:hover{
    text-shadow: 0 0 10px white ;
}
@media (max-width:1060px) {
    .signlogin_form{
        width: 80%;
    }
    .signlogin_inputs{
        width: 80%;
    }
}