.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(4,1fr);
    color: white;
    margin-bottom: 4em;
}
@media (max-width:1600px) {
    .container{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media (max-width:1200px) {
    .container{
        grid-template-columns:1fr 1fr;
    }
}
@media (max-width:750px) {
    .container{
        grid-template-columns:1fr;
    }
}

.subheader{
    text-align: center;
    padding: 1.5em;
    font-size: 2rem;
    color: white;
    margin-top: 5em;
    margin-bottom: 3em;
}
.topic_container{
    flex-grow: 1;
    position: relative;
    padding: 2em 5em;
    text-align: center;
    background:linear-gradient(0deg,#000,#262626,#292929);
    border: #000 solid 0.1em;
    border-radius: 1em;
    transition: transform 50ms ease-in-out;
    z-index: 1;
}
.topic_container:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px white;
}

.logo{
    width: 10rem;
    margin: 0 auto;
}
.title{
    font-size: 1.5rem;
    padding: 1.2em 0;
    margin-top: 1.2em;
    text-decoration:none;
}
.desc{
    font-size: 1rem;
    text-decoration:none;
}

.sub{
    margin: 0 auto;
}
.description{
    padding: 1.2em;
    margin-bottom: 1em;
}
.course_link{
    margin: 0 auto;
}

.sub{
    margin: 2em;
}
.description{
    padding: 1.2em;
    margin-bottom: 1em;
}
.course_link{
    margin: 0 auto;
}
